<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        lang="en"
        layout:decorate="layout/main">
<body>

<div layout:fragment="content">


    <section class="container my-2 d-flex justify-content-center notes-section">

        <div class="card" style="width: 30rem;">
            <div class="card-header text-center fw-bold ">
                Patient Details
            </div>
            <ul class="list-group list-group-flush">
                <li th:text="'First name : ' + ${patient.first_name}" class="list-group-item"></li>
                <li th:text="'Last name : ' + ${patient.last_name}" class="list-group-item"></li>
                <li th:text="'Birth date : ' + ${patient.birth_date}" class="list-group-item"></li>
                <li th:text="'Gender : ' + ${patient.gender}" class="list-group-item"></li>
                <li th:text="'Address : ' + ${patient.address}" class="list-group-item"></li>
                <li th:text="'Phone : ' + ${patient.phone}" class="list-group-item"></li>
            </ul>
            <div class="card-footer text-center">
                Patient I D: #<span th:text="${patient.id}"></span>
            </div>
        </div>
    </section>

    <div class="text-center mt-3">
        <a th:href="@{ /client-service/patients }" class="btn btn-secondary my-4 mx-3">Return patients list</a>
        <a th:href="@{ ${patient.id} + '/note'}" class="btn btn-success my-4 mx-3">Add New Note</a>

        <!--success message-->

        <div class="container" th:if="${param.success}">
            <div class="alert alert-info mx-auto d-block">
                New note have been successfully registered!
            </div>
        </div>

        <section class="container d-flex justify-content-center">

            <div class="card" style="width: 100rem;">
                <div class="card-body">


                    <div th:each="note, iStat : ${noteList}" class="mb-3">
                        <h6 class="card-title" th:text=" 'Note n° ' + ${noteList.size()-iStat.index}"></h6>
                        <pre class="card-text" th:text="${note.note}"></pre>
                        <hr>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>